<div class="main row justify-content-center">
  <div class="col-3 py-4">
  <h3>User info</h3>
  <% if @user.errors.any? %>
    <%= @user.errors.count %> error prohibited this obj from being saved:
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @user do |f| %>
    <div class="edit-user-name my-2">
      <label for="inputName">Name</label>
      <%= f.text_field :name, :size=>"47", autofocus: true, id:"inputName", placeholder:"名前"%>
    </div>
    <div class="edit-profile-image my-2">
      <label for="Image">Image</label><br>
      <%= f.file_field :profile_image, placeholder: "ファイルの選択", accept: "image/*" %>
    </div>
    <div class="edit-user-introduction my-2">
      <label for="Introduction">Introduction</label>
      <%= f.text_area :introduction, :size=>"50" %>
    </div>
    <input class="btn btn-secondary" type="submit" value="Update User">
  <% end %>

</div>