<%= render 'users/user', user: @user %>
<%= render 'books/book', book_new: @book_new %>

<h1>Book detail</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= link_to user_path(@user) do %>
    <%= @user.name %>
  <% end %><br>
  <%= link_to book_path(@book) do %>
    <%= @book.title %>
  <% end %>
  <%= @book.body %>
  <% if @user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
</div>