<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h5>name</h5>
  <h3><%= @user.name %></h3>
  <h5>introduction</h5>
  <h3><%= @user.introduction %></h3>
  <%= link_to "edit", edit_user_path(current_user) %>
</div>
<sidebar>
  <h1>New book</h1>
    <%= form_with model: @book_new do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>
</sidebar>
<h1>Book detail</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= link_to user_path(@user) do %>
    <%= @user.name %>
  <% end %>
  <%= link_to user_path(@user) do %>
    <%= @book.title %>
  <% end %>
  <%= @book.body %>
  <% if @user == current_user %>
    <%= link_to "Edit", edit_book_path(@user) %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
</div>
